block contenidos
section.home-wrapper
  nav
    h2 Menu
      ul
       each enlace in enlaces
        li=enlace
  .info
    div
      h3 Titulo
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, vel. Optio id recusandae deserunt alias, labore, mollitia sunt laudantium ad ab, omnis vel facilis? Assumenda asperiores nobis quis praesentium neque!
    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit quo aliquid ipsa repellendus quisquam maxime aspernatur at tempora nobis libero, ipsam hic possimus adipisci unde ullam architecto assumenda autem natus!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam eaque quia repellat ad rerum perferendis soluta, dolorum reiciendis illo culpa nesciunt cons